[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundles-available/l9"]
	path = bundles-available/l9
	url = git://github.com/StephenPCG/vim-l9.git
[submodule "bundles-available/tlib"]
	path = bundles-available/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundles-available/neocomplcache"]
	path = bundles-available/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundles-available/vimproc"]
	path = bundles-available/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "bundles-available/vimshell"]
	path = bundles-available/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "bundles-available/powerline"]
	path = bundles-available/powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundles-available/tagbar"]
	path = bundles-available/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundles-available/tskeleton"]
	path = bundles-available/tskeleton
	url = git://github.com/tomtom/tskeleton_vim.git
[submodule "bundles-available/nerdtree"]
	path = bundles-available/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundles-available/nerdcommenter"]
	path = bundles-available/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundles-available/clang_complete"]
	path = bundles-available/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundles-available/neocomplcache-snippets-complete"]
	path = bundles-available/neocomplcache-snippets-complete
	url = git://github.com/Shougo/neocomplcache-snippets-complete.git
