[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundles-available/l9"]
	path = bundles-available/l9
	url = git://github.com/StephenPCG/vim-l9.git
